/*!
 * Start Bootstrap - Agency Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    overflow-x: hidden;
    font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
	background:#000;
	color:#ABA3A3;
}

.text-muted {
    color: #c2c2c2;
}

.text-primary {
    color: #fed136;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}

 
a {
   /* color: #fed136;*/ color:#fff;
}

a:hover,
a:focus,
a:active,
a.active,
.rarevideos-heading a:hover {
    color:#701213;
	-webkit-transition: color .7s ease-in;
  -moz-transition: color .7s ease-in;
  -o-transition: color .7s ease-in;
  transition: color .7s ease-in;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}
.detailsnews h1.headline{margin: 10px 0 10px 0;color: #D7D7D7;line-height: 40px;font-size: 32px;}
.detailsnews h4.subhead{font-size: 20px; font-style:italic; margin-bottom:20px; font-weight:normal; margin-top:0px;}
.detailsnews h3.shoulder{ font-size:16px; text-transform:uppercase;font-weight: normal;}
.detailsnews p{margin-bottom: 10px;}
.detailsnews .fita-news-body p{ margin-bottom:20px;}
.detailsnews .fita-news-body img{margin: 10px 0;} 
.img-centered {
    margin: 0 auto;
}
.alignleft{
	float:left;
	margin-right:20px;
}
.alignright{
	float:right;	
}

.bg-light-gray {
    background-color: #000;
}

.bg-darkest-gray {
    background-color: #222;
}

.btn-primary {
    border-color: #fed136;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #fff;
    background-color: #fed136;
}
.freedomdocument a , .freedomdocument a p{color: #701213; font-weight: bold; text-decoration: underline; font-size: 14px;}
.freedomdocument li, .noteslist li {  padding: 10px;border: 1px solid #DDD;background: #F9F9F9;margin: 5px 0;}
.byline{ font-style: italic;font-size: 12px;font-weight: bold;}
.fitalisthead{
		font-size: 18px;border-bottom: 1px solid #ccc;padding: 10px 15px;background: rgba(112, 18, 19, 1);color: #ccc;margin-bottom: 0px;
}
.storyheadine{padding: 0px;
margin: 0px;
line-height: 14px;
font-size: 12px;}
.storyheadine a{ font-weight:normal;}
.freedomstories{
	padding: 0px 5px 0px 5px !important;
  	margin: 7px 0 !important;
}
.freedomstories li{padding: 5px;}
.fitacontent{ background: #fff; color: #000; padding: 15px;}
.play1 {
    background: url('../img/video_logo.png') center center no-repeat;
     width:93px;
	height:93px;
    position: relative;
    z-index: 10;
	margin-left: 39%;
	margin-top: 18%;
}
.play2, .play3{
    background: url('../img/video_logo.png') center center no-repeat;
width: 24px;
height: 24px;
z-index: 10;
background-size: 24px 24px;
position: absolute;
margin-left: 60px;
margin-top: 25px;
}
.play3{
margin-left: 18% !important;
margin-top: 11%  !important;
}
.play4{
margin-left: 45% !important;
margin-top: 22%  !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: #f6bf01;
    color: #fff;
    background-color: #fec503;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #fed136;
    background-color: #fed136;
}

.btn-primary .badge {
    color: #fed136;
    background-color: #fff;
}

.btn-xl {
    padding: 20px 40px;
    border-color: #fed136;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #fed136;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: #f6bf01;
    color: #fff;
    background-color: #fec503;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    border-color: #fed136;
    background-color: #fed136;
}

.btn-xl .badge {
    color: #fed136;
    background-color: #fff;
}

.navbar-brand > img {
	display: block;
	margin-top: -20px;
}

.navbar-default .navbar-brand {
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    color: #fed136;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #fec503;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
	background:#701213;
	clear:both;
	margin-top: 15px;
}

.navbar-header { float:right; margin-bottom:15px;}
.navbar-default .navbar-toggle {
   /* border-color: #fed136;
    background-color: #fed136;*/ 
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #701213;
	border:0px;
	-webkit-transition: background-color .7s ease-out;
  -moz-transition: background-color .7s ease-out;
  -o-transition: background-color .7s ease-out;
  transition: background-color .7s ease-out;
}

.navbar-default .nav li a {
    /*font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;*/
     font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    /* font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;	*/
     font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
	padding-top:5px; 
    padding-bottom: 5px;
}
.navbar-nav > li {
	display:inline-block;
	text-align:center;
	margin:0 auto;
	float:none;
}
.navbar-nav { float:none;}
.navbar-collapse .container { margin:0 auto; text-align:center;}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #fed136;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #000;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #000;
}
.navbar-default {
	  text-align: center;
	  background:#000 url(../img/fita_logo_full.png) no-repeat center top;
/*    background-position: center center;
	background-repeat: none;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;*/
	background-color:#000;
	padding-top: 60px; 
	-webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;		
  border:0px;
	
}
.navbar-default .social-buttons{
	float: right;
	width: auto;
	margin-top: -30px;
} 
.navbar-default .social-buttons li a{
	width: 24px;
	height: 24px;
	line-height: 24px;
}
.navbar-brand{
	padding-top:30px;
}
.margonbottom0{ margin-bottom:0px;}
section#rarevideos, section#interviews, section#arcivescontent, section#eventclander,  section#about, section#timelineds, section#dreedomstories, section#currentstory{
	padding-bottom:30px;	
}
section#interviews, section#arcivescontent, section#eventclander,  section#about , section#timelineds, section#dreedomstories,section#currentstory{
	padding-top:0px;	
}
 
.paddingbottom20{ padding-bottom:20px;}
.factsheetcontent p, .factsheetcontent a, .factsheetcontent td,  .factsheetcontent th{
	font-size:12px; color:#A09999;
}
.readmore{
	font-size: 16px;
font-style: italic;
color: #dff;
display:block;
}

.calcontents {
 	padding:12px;
	background:#fff;
	box-shadow:inset -7px -20px 0px -20px rgb(255, 255, 255), inset 0 4px 16px 0px rgba(10, 10, 10, 0.5);;
	-moz-box-shadow:inset -7px -20px 0px -20px rgb(255, 255, 255), inset 0 4px 16px 0px rgba(10, 10, 10, 0.5);;
	-webkit-box-shadow: inset -7px -20px 0px -20px rgb(255, 255, 255), inset 0 4px 16px 0px rgba(10, 10, 10, 0.5);;
	-o-box-shadow: inset -7px -20px 0px -20px rgb(255, 255, 255), inset 0 4px 16px 0px rgba(10, 10, 10, 0.5);;
  /*  inset 0 -12px 4px 4px rgb(255,255,255),   inset 0 1px 8px 1px rgba(50, 50, 50, 0.75);*/
 
}
#calander-content .section-heading{ background:#701213; color:#F7F7F7; padding:10px 54px;     background-image: url(../img/266_icon.png);
    background-position: 12px center; background-repeat:no-repeat; margin-bottom:0px;
 font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif; font-weight:normal;
 }
 
 .video-category{
	 border-bottom: 1px solid #ccc;
	 padding: 20px 0 10px 0;
 }
 #datetimecal .selectpicker{
 	width:32%; display:inline; float:left;
 }
 .date-heading, .month-heading{ 
 color:#000;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;  
 font-size: 100px;
text-align: center;
margin: 20px 0 0 0;
padding: 0px;
line-height:90px; 
/*text-shadow: 1px 0px 20px #ffd200;
-webkit-transition: 1s linear 0s;
-moz-transition: 1s linear 0s;
-o-transition: 1s linear 0s;
transition: 1s linear 0s;
outline: 0 none;filter:progid:DXImageTransform.Microsoft.Glow(Strength, Color, Enabled);*/
-webkit-stroke-width: 5.3px;
   -webkit-stroke-color: #FFFFFF;
   -webkit-fill-color: #FFFFFF;
   text-shadow: 1px 0px 20px rgb(165, 165, 161);
   -webkit-transition: width 0.3s; /*Safari & Chrome*/
   transition: width 0.3s;
   -moz-transition: width 0.3s; /* Firefox 4 */
   -o-transition: width 0.3s;outline: 0 none; /* Opera */
} 
.month-heading{ font-size:54px;line-height:54px; margin:0 0 10px 0px; font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif; font-weight:normal;}
#caldateinfo p{ color:#333333;}

.homepage-ad{
	background:url(../img/Leaderboard-728x90.png) no-repeat center top;
	width:100%;
	height:90px;
	text-align:center;
	margin:0 auto;
}
   .navbar-brand{
		right:0px !important;
		left:inherit;
	}


@media(min-width:768px) {
  
    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding:0px 0;
        background-color:#000;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
		background: #000 url(../img/fita_logo_full2.png) no-repeat center -21px;
     }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }
}

header {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url(../img/header-bg.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}

.timelineh{
	display:block;
}
.timelinev{
	display:none;
} 
@media (max-width:620px) {

.timelineh{
	display:none;
}
.timelinev{
	display:block;
} 

.homepage-ad{
	background:url(../img/education-300x250.png) no-repeat center top;
	width:100%;
	height:250px;
	text-align:center;
	margin:0 auto;

}
	.navbar-brand{
		right:0px !important;
		left:inherit;
	}
}

@media (max-width: 480px) {
   .navbar-brand{
		right:0px !important;
		left:inherit;
	}

.homepage-ad{
	background:url(../img/education-300x250.png) no-repeat center top;
	width:100%;
	height:250px;
	text-align:center;
	margin:0 auto;

}
	
	
.navbar-default .social-buttons{
	float: none;
	width: auto;
	margin-top:0px;
} 
.navbar-default {
	text-align: center;
	background:#000 url(../img/fita_logo_full2.png) no-repeat center top;
	/*background-position: center center;
	background-repeat: none;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;*/
	background-color:#000;
	padding-top: 60px; 
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;		
	border:0px; 
} 
	
}
 
@media(min-width:768px) {

	header .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }

    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
    }

    header .intro-text .intro-heading {
        margin-bottom: 50px;
        text-transform: uppercase;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
    }
}

section {
    padding: 100px 0;
}
.paddingl0{ padding-left:0px;}
section h2.section-heading , section h3.section-heading, section h3.section-heading2 { 
	color:#DCDBDB;  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif; font-weight:normal;
}
section h2.section-heading , section h3.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size:30px; 
	font-weight:normal;
	text-transform:uppercase;  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif; font-weight:normal;
}
section h3.section-heading2{
    margin-top: 0;
    margin-bottom: 15px;
    font-size:24px; 
	font-weight:normal;
	text-transform:none;  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif; font-weight:normal;
}
section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}
#arcivescontent h4.section-heading3{
border-bottom: 1px solid #ccc;
padding-bottom: 5px;
margin-bottom: 20px;
}
#factsheetsds .factsheetcontent{ border:1px solid #ccc;}
#factsheetsds .section-heading{ text-align:center; background:#701213; padding:10px; text-transform:none; font-weight:normal; font-style:normal;}
#arcivescontent h4.section-heading3 a{
     font-size:18px; 
	font-weight:normal;
	text-transform:none;
}

@media(min-width:768px) {
    section {
        padding: 150px 0;
    }
	
}

.rarevideos-heading {
    margin: 5px 0;
 }

.rarevideos-heading a{
     text-transform: none;
	 font-weight:normal;
  	 /*  font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;*/
     font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif; 
	 
}
.rarevideos p{
	font-size:12px;
	color:#B2B0B0;	
}
#rarevideosList li{
 	margin-bottom:20px;
	display: block;
	float: left;
	width: 100%;
}
#interviews li{ width:45%; float:left;}
#interviews li img{ width:100%;}
#interviews li.evenlist{}
#interviews li.oddlist{margin-right: 4%;}
 #interviews .interview-title {
 	padding:8px 5px 2px 5px;
	background: rgba(255, 254, 254, 0.98);
}
 #interviews .interview-title  h4 a{
 	font-size:11px; color:#000;
}

#editorsnote p{
	font-size:14px;
	color:#C3C3C3;
	padding:5px 0; 
}

#editorsnote h4.rarevideos-heading{
	 margin-top:124px; 
}
#editorsnote h4 a{ 
	 font-size:30px; color:#DCDBDB; font-weight:normal;
}
 .story-heading{
	padding-bottom:10px;
 	
}
 .story-heading a{
	font-weight:normal;
}
#dreedomstories .stories-item .stories-heading a{
   font-size: 14px;
font-weight: normal;
}
#dreedomstories .stories-item .stories-heading{
	clear: both;
padding: 10px 0;
 }
#portfolio .portfolio-item, #dreedomstories .stories-item {
    right: 0;
    margin: 0 0 20px;
}

#portfolio .portfolio-item .portfolio-link,
#dreedomstories .stories-item  .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover,
#dreedomstories .stories-item  .portfolio-link .portfolio-hover
{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background:rgba(88, 88, 88, 0.47);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover,
#dreedomstories .stories-item  .portfolio-link .portfolio-hover:hover{
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content ,
#dreedomstories .stories-item  .portfolio-link .portfolio-hover .portfolio-hover-content{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i,
#dreedomstories .stories-item  .portfolio-link .portfolio-hover .portfolio-hover-content i  {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4,
#dreedomstories .stories-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#dreedomstories .stories-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 
{
    margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
    margin: 0;
    text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
    margin: 0;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

#portfolio * {
    z-index: 2;
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    } 
}

.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    background-color: #f1f1f1;
}

.timeline>li {
    position: relative;
    margin-bottom: 50px;
    min-height: 50px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li .timeline-panel {
    float: right;
    position: relative;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    border: 7px solid #f1f1f1;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    background-color: #fed136;
}

.timeline>li .timeline-image h4 {
    margin-top: 12px;
    font-size: 10px;
    line-height: 14px;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
}

.timeline .timeline-heading h4.subheading {
    text-transform: none;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0;
}

@media(min-width:768px) {
    .timeline:before {
        left: 50%;
    }

    .timeline>li {
        margin-bottom: 100px;
        min-height: 100px;
    }

    .timeline>li .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }

    .timeline>li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 16px;
        font-size: 13px;
        line-height: 18px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
}

@media(min-width:992px) {
    .timeline>li {
        min-height: 150px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px;
    }

    .timeline>li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 30px;
        font-size: 18px;
        line-height: 26px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px;
    }
}

@media(min-width:1200px) {
    .timeline>li {
        min-height: 170px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px 100px;
    }

    .timeline>li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 40px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 100px 20px 20px;
    }
}

.team-member {
    margin-bottom: 50px;
    text-align: center;
}

.team-member img {
    margin: 0 auto;
    border: 7px solid #fff;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}

.team-member p {
    margin-top: 0;
}

aside.clients img {
    margin: 50px auto;
}

section#contact {
    background-color: #222;
    background-image: url(../img/map-image.png);
    background-position: center;
    background-repeat: no-repeat;
}

section#contact .section-heading {
    color: #fff;
}

section#contact .form-group {
    margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}

section#contact .form-group input.form-control {
    height: auto;
}

section#contact .form-group textarea.form-control {
    height: 236px;
}

section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}

section#contact::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact:-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact::-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact:-ms-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact .text-danger {
    color: #e74c3c;
}
#footercontent{ 
     background-image: url(../img/footerflag.png);
    background-position: bottom right;
    background-repeat: no-repeat;
	width:213px;
	height:170px;
 	margin-top: -170px;
	float: right;
}


footer {
    padding:0px 0;
    text-align: center;
}

footer span.copyright {
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

footer ul.quicklinks {
    margin-bottom: 0;
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a.dstwitter {
	background: url(../img/tweeter_logo.png) no-repeat center center;
}
ul.social-buttons li a.dsfacebook {
	background: url(../img/fb_logo.png) no-repeat center center ;
}
ul.social-buttons li a.dsgoogleplus {
	background: url(../img/g+_logo.png) no-repeat center center ;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s; 
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color:#DE3335;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em;
}

.portfolio-modal .modal-content p {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

.portfolio-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

::-moz-selection {
    text-shadow: none;
    background: #DE3335;
	color:#fff;
}

::selection {
    text-shadow: none;
    background: #DE3335;
	color:#fff;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #fed136;
}

/* timeline*/