* {
	margin: 0;
	padding: 0;
}

body {
	background: #000;
	font-family:Geneva, Arial, Helvetica, sans-serif, Georgia, serif;
	color: #fff;
	font-size: 14px;
}

a {
	color: #000;
	text-decoration: none;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
	a:hover,
	a.selected {
		color: #701213;
	}

h1,h2,h4,h5,h6 {
	text-align: center;
	color: #ccc;
	text-shadow: #000 1px 1px 2px;
	margin-bottom: 5px;
}
	h1 {
		font-size: 18px;
	}
	h2 {
		font-size: 14px;
	}
.sociales {
	text-align: center;
	margin-bottom: 20px;
}

	#timelinebox{
		/*background: url('../images/timelinebg.jpg') center center no-repeat;*/
		background:#fff;
 		width:100%;
		height:auto;
		padding-top: 10px;
	}
	#timeline {
		width: 1100px;
		height: 350px;
		overflow: hidden;
		margin:10px auto;
		position: relative; 
		background: url('../images/dot.gif') left 25px repeat-x;
	}
		#dates {
			width: 1100px;
			height: 60px;
			overflow: hidden;
		}
			#dates li {
				list-style: none;
				float: left;
				width: 100px;
				height: 30px;
				font-size: 16px;
				text-align: center;
				background: url('../images/dot1.gif') center bottom no-repeat;
			}
				#dates a {
					line-height: 22px;
					padding-bottom: 10px;
				}
				#dates .selected {
			        font-size: 20px;
					color:#468E22;
					font-weight:bold;
				}
		
		#issues {
			width: 1100px;
			/*height: 350px;*/
			overflow: hidden;
		}	
			#issues li {
				width: 1100px;
				/*height: 350px;*/
				list-style: none;
				float: left;
			}
			#issues li .timelineifo {
				width: 52%; 
				padding: 10px;
				visibility:hidden;
				margin-left: 40px;
				}
				#issues li.selected .timelineifo{
					 min-height:255px;
					 background:transparent;
					 visibility:visible; 
 					-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE 8 */   
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);/* IE 6 & 7 */                     zoom: 1;
					-webkit-transition: all 2s ease-in-out;
					-moz-transition: all 2s ease-in-out;
					-o-transition: all 2s ease-in-out;
					-ms-transition: all 2s ease-in-out; 
					transition: all 2s ease-in-out; 
					overflow-y: auto;
					height: 255px;
 				}
 				#issues li.selected img {
					-webkit-transform: scale(1.1,1.1);
					-moz-transform: scale(1.1,1.1);
				    -o-transform: scale(1.1,1.1);
				    -ms-transform: scale(1.1,1.1);
				    transform: scale(1.1,1.1);
				}
				#issues li img {
					float: left;
					margin: 10px 30px 10px 50px;
					background: transparent;
					-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE 8 */   
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);/* IE 6 & 7 */      
					zoom: 1;
					-webkit-transition: all 2s ease-in-out;
					-moz-transition: all 2s ease-in-out;
					-o-transition: all 2s ease-in-out;
					-ms-transition: all 2s ease-in-out; 
					transition: all 2s ease-in-out;
					-webkit-transform: scale(0.7,0.7);
					-moz-transform: scale(0.7,0.7);
				    -o-transform: scale(0.7,0.7);
				    -ms-transform: scale(0.7,0.7);
				    transform: scale(0.7,0.7);
				}
				#issues li h1 {
					color: #701213;
					font-size: 24px;
					margin:5px 0;
					text-shadow: #000 1px 1px 2px;
					text-align:left;
				}
				#issues li p {
					font-size: 14px;
					margin-right: 70px;
					font-weight: normal;
					line-height: 22px; 
					color:#000; 
				}
		
		#grad_left,
		#grad_right {
			width: 100px;
			height: 350px;
			position: absolute;
			top: 0;
		}
			/*#grad_left {
		        left: 0;
		        background: url('../images/grad_left.png') repeat-y;
			}
			#grad_right {
		        right: 0;
		        background: url('../images/grad_right.png') repeat-y;
			}*/
		
		#next,
		#prev {
			position: absolute;
			top: 0;
			font-size: 70px;
			top: 150px;
			width: 22px;
			height: 38px;
			background-position: 0 0;
			background-repeat: no-repeat;
			text-indent: -9999px;
			overflow: hidden;
		}
			#next:hover,
			#prev:hover {
				background-position: 0 -76px;
			}
			#next {
				right:46%;
				background-image: url('../images/next.png');
				background-position: 0 -36px;
			}
			#prev {
				left: 0;
				background-image: url('../images/prev.png');
				background-position: 0 -36px;
			}
				#next.disabled,
				#prev.disabled {
					opacity: 0.2;
				}
				::-moz-selection {
    text-shadow: none;
    background: #DE3335;
	color:#fff;
}

::selection {
    text-shadow: none;
    background: #DE3335;
	color:#fff;
}
